@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-display: swap;
    src: url('@/assets/fonts/JetBrainsMono-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 600;
    font-display: swap;
    src: url('@/assets/fonts/JetBrainsMono-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-display: swap;
    src: url('@/assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 100;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    font-display: swap;
    src: url('@/assets/fonts/Poppins-Black.ttf') format('truetype');
}

.scroll-grow{
    @apply overflow-y-auto min-h-0 flex-grow;
}

.scroll-stable{
    scrollbar-gutter: stable;
}

.jetbrainsmono {
    font-family: 'JetBrains Mono' !important;
}

.poppins {
    font-family: 'Poppins';
}

.roboto {
    font-family: Roboto;
}
